<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- <link rel="stylesheet" href="https://i.icomoon.io/public/temp/4a847cfbca/UntitledProject/style.css"> -->

    <link rel="icon" href="<%= BASE_URL %>negah.png">
    <title>نگاه | سامانه اکران فیلم بسیج دانشجویی دانشگاه فردوسی</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but ekran-client doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
