<template>
    <div class="history">
        <app-box label="بلیت‌های فعّال" :actions="boxActions">
            <div class="hitory__ticket-list">
                <app-ticket class="hitory__ticket" footer-text="xxx xx xx" v-for="i in 5" :key="i">
                    <img src="@/assets/qr.png" alt="qr code" slot="qr">
                </app-ticket>
            </div>
        </app-box>
        <app-box label="بلیت‌های منقضی شده" :actions="boxActions">
            <div class="hitory__ticket-list">
                <app-ticket class="hitory__ticket" footer-text="xxx xx xx" v-for="i in 2" :key="i">
                    <img src="@/assets/qr.png" alt="qr code" slot="qr">
                </app-ticket>
            </div>
        </app-box>
    </div>
</template>

<script>
import AppBox from '@/components/Box.vue'
import AppTicket from '@/components/Ticket.vue'

export default {
  components: {
    AppBox,
    AppTicket
  },
  data () {
    return {
      boxActions: [{
        icon: 'print',
        action (event) {
          if (event.target.closest) {
            let boxes = document.getElementsByClassName('box')
            for (let i = 0; i < boxes.length; i++) {
              boxes[i].classList.add('no-print')
            }
            event.target.closest('.box').classList.remove('no-print')
          }
          window.print()
        }
      }]
    }
  }
}
</script>

<style>
.hitory__ticket-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly;
    padding-bottom: 1.5em;
}

.hitory__ticket {
    margin: 1.1em 0.5em;
}

@media print {
    .hitory__ticket-list {
        display: block;
    }

    .hitory__ticket {
        margin: 1.1em 2%;
        float: right;
        width: 46%;
        font-size: .8em;
    }
}
</style>
