<template>
  <div class="home">
    <big-input
        place-holder="شماره موبایل"
        icon="phone_android"
        type="tel"
        button-text="شروع"
        @button-click="login()">
    </big-input>
  </div>
</template>

<script>
import BigInput from '@/components/BigInput.vue'

export default {
  name: 'home',
  components: {
    BigInput
  },
  methods: {
    login () {
      var studentId = this.$el.querySelector('input').value
      if (studentId.trim() === '') {
        alert('لطفا شماره موبایل خود را وارد کنید')
      } else if (/^0?9\d{9}$/.test(studentId)) {
        window.localStorage.setItem('studentId', studentId)
        this.$root.studentId = studentId
        this.$router.push('/')
      } else {
        alert('شماره موبایل معتبر نیست')
      }
    }
  }
}
</script>

<style lang="scss">
.home::before {
  content: ' ';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}
</style>
