<template>
  <div class="object-list">

    <button class="main-fab ripple" @click="addNewObject" v-if="$root.isAdmin">
      <!-- <i class="icon icon-mode_edit"></i> -->
      <span style="
          font-size: 1.8em;
          font-weight: bold;
          margin-top: 0.2em;
          display: inline-block;
      ">+</span>
    </button>

    <app-dialog :is-open="isFactorOpen" @click-outside="$router.back()">
      <app-ticket :ticket="{scene: selectedScene}" class="ticket--factor" :footer-text="priceString">
        <template slot="qr">
          <label for="ticketCount">تعداد</label>
          <input v-model.number="ticketCount" class="ticket__ticket-count-input" id="ticketCount" type="number" min="1" max="20" value="1">
        </template>
      </app-ticket>
      <button class="button button--primary factor-button ripple" :disabled="isLoading" @click="paymentRequest()">پرداخت</button>
    </app-dialog>

    <transition-group name="object-list-transition">
      <object-card
        v-for="(card, i) in objectList"
        @card-action="showFactor(card)"
        @delete="objectList.splice(i, 1)"
        :scene="card"
        :key="card._id"
      />
    </transition-group>
    <no-item v-if="!objectList || objectList.length == 0">فیلمی جهت اکران وجود ندارد</no-item>

  </div>
</template>

<script>
import NProgress from 'nprogress'
import ObjectCard from '@/components/ObjectCard.vue'
import AppTicket from '@/components/Ticket.vue'
import AppDialog from '@/components/Dialog.vue'
import NoItem from '@/components/NoItem.vue'

export default {
  components: {
    ObjectCard,
    AppTicket,
    AppDialog,
    NoItem
  },
  data () {
    return {
      queryParameters: {},
      ticketCount: 1,
      isFactorOpen: false,
      isLoading: false,
      selectedScene: {},
      objectList: [{}]
      // tweenPrice: 0,
      // isTweening: false
    }
  },
  created () {
    this.queryParameters.id = this.$route.query.id /* studentId,telegramChatId */
    this.queryParameters.prog = this.$route.query.prog

    NProgress.start()
    this.$http.get(`${this.$root.apiRoot}/negah/scene`)
      .then(result => {
        NProgress.done()
        result.body.forEach(card => {
          card.start = new Date(card.start)
          card.end = new Date(card.end)
        })
        this.objectList = result.body

        if (this.queryParameters.id && this.queryParameters.prog) {
          for (let i = 0; i < this.objectList.length; i++) {
            if (~this.objectList[i].film.title.indexOf(this.queryParameters.prog)) {
              this.showFactor(this.objectList[i])
              break
            }
          }
          localStorage.setItem('studentId', this.queryParameters.id.split(',')[0])
          this.$root.studentId = this.queryParameters.id.split(',')[0]
        }

        console.log(this.objectList)
      }, errorResult => {
        NProgress.done()
        if (errorResult.body && errorResult.body.message) {
          alert(errorResult.body.message)
        } else {
          alert('مشکلی در دریافت لیست فیلم‌ها پیش آمد')
        }
        console.error(errorResult)
      })
  },
  methods: {
    showFactor (scene) {
      this.selectedScene = scene
      this.isFactorOpen = true
      this.$router.push('#factor')
    },
    addNewObject () {
      this.objectList.unshift({})
    },
    paymentRequest () {
      NProgress.start()
      this.isLoading = true
      var meta = {}

      if (this.queryParameters.id) {
        meta.telegramChatId = this.queryParameters.id.split(',')[1]
      }

      this.$http.post(`${this.$root.apiRoot}/negah/ticket/add`, {
        studentId: this.$root.studentId + this.selectedScene.ticketCount.toString().padStart(3, '0'),
        scene: this.selectedScene._id,
        count: this.ticketCount,
        meta
      })
        .then(result => {
          NProgress.done()
          this.isLoading = false
          window.location.href = result.body.paymentUrl
        }, errorResult => {
          NProgress.done()
          this.isLoading = false
          if (errorResult.body && errorResult.body.message) {
            alert(errorResult.body.message)
          } else {
            alert('مشکلی در اتصال به زرین‌پال پیش آمد')
          }
        })

      // this.$router.push('receipt')
    }
  },
  computed: {
    priceString () {
      // return '<bdi dir=rtl>' + Math.round(this.tweenPrice) + ' تومان</bdi>'
      return '<bdi dir=rtl>' + Math.round(this.price) + ' تومان</bdi>'
    },
    price () {
      return this.ticketCount * this.selectedScene.price
    }
  },
  watch: {
    $route (to, from) {
      if (from.hash === '#factor' && to.hash !== '#factor') {
        this.isFactorOpen = false
      }
      if (from.hash !== '#factor' && to.hash === '#factor') {
        this.isFactorOpen = true
      }
    }
    // price(to, from) {
    //   //tween
    //   if (this.isTweening) return
    //   var self = this
    //   self.isTweening = true
    //   function tween() {
    //     self.tweenPrice = lerp(self.tweenPrice, to, 0.4)
    //     if (Math.abs(to - self.tweenPrice) > 0.5) {
    //       requestAnimationFrame(tween)
    //     } else {
    //       self.isTweening = false
    //     }
    //   }
    //   function lerp(a, b, f) {
    //     return a + (b - a) * f
    //   }
    //   tween()
    // }
  }
}
</script>

<style lang="css">
.object-list {
  padding: 1em 0 4.5em;
}
.object-list::before {
  content: ' ';
  position: absolute;
  top: 0;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.ticket--factor {
  margin: 1em auto;
}
.ticket__ticket-count-input {
    font: inherit;
    direction: ltr;
    padding-left: .3em;
    width: 2.6em;
}
.factor-button {
  margin: 1em auto -0.8em;
  display: table;
}
.object-list-transition-move {
  transition: transform .4s, opacity .3s;
}
.object-list-transition-enter, .object-list-transition-leave-to {
  opacity: 0;
  /* transform: translateY(30px); */
}
.object-list-transition-leave-active {
  position: absolute;
}
</style>
