<template>
    <div class="profile">
        <app-box label="پروفایل" class="profile__box">
            <div class="profile-form">
                <label class="input-box">
                    نام
                    <input type="text" class="input" value="مجتبی">
                    <i class="icon icon-account_circle input-icon"></i>
                </label>
                <label class="input-box">
                    نام خانوادگی
                    <input type="text" class="input" value="قاسم زاده تهرانی">
                    <i class="icon icon-account_circle input-icon"></i>
                </label>
                <label class="input-box">
                    شماره موبایل
                    <input type="text" class="input" value="09373455681" disabled>
                    <i class="icon icon-phone_android input-icon"></i>
                </label>
                <button class="button profile__submit-button ripple" @click="$router.push('/')">ثبت</button>
            </div>
        </app-box>
    </div>
</template>

<script>
import AppBox from '@/components/Box.vue'

export default {
  components: {
    AppBox
  }
}
</script>

<style>
.profile__box {
    max-width: 350px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin: 1em;
    position: relative;
}

.input-icon {
    position: absolute;
    bottom: 0.24em;
    right: 0.1em;
    color: #717171;
}

.input {
    padding: 0.5em 2.1em 0.5em 0.5em;
    border-radius: 0.2em;
    border: 1px solid #cacaca;
    box-shadow: 1px 1px 4px #0000007a;
}

.profile__submit-button {
    display: table;
    margin: 1em auto .8em;
}
</style>
