<template>
    <div class="receipt">
        <app-box label="توضیحات">
            <div class="receipt__description">
                <i v-if="isDone" class="icon icon-check receipt__icon"></i>
                <i v-if="!isDone" class="icon icon-close receipt__icon"></i>
                <p v-if="isDone" class="receipt__success-message">
                    <strong>پرداخت با موفّقیت انجام شد</strong> <br>
                    شماره‌ی پیگیری تراکنش: {{+$router.currentRoute.query.refid}}
                </p>
                <p>
                    <strong v-if="!isDone">پرداخت انجام نشد</strong>
                </p>
                <div class="receipt__notice-message" v-if="isDone">
                    <p>همراه داشتن پرینت یا تصویر بلیت، یا شماره‌ی نوشته شده در قسمت پایین آن الزامی است.</p>
                    <p>این شماره را در اختیار دیگران قرار ندهید.</p>
                </div>
            </div>
            <button v-if="isDone && ticket" class="button receipt__print-button ripple" onclick="window.print()">
                <i class="icon icon-print" style="font-size: 1.2em"></i> چاپ
            </button>
        </app-box>
        <app-box label="بلیت" v-if="isDone && ticket">
            <ul class="receipt__ticket-list">
                <li class="receipt__ticket-item" v-for="i in 1" :key="i">
                    <app-ticket :ticket="ticket" :footer-text="ticketIdentifier | readable">
                        <img :src="'https://api.qrserver.com/v1/create-qr-code/?size=300x300&margin=0&data=' + ticketIdentifier" alt="qr code" slot="qr">
                    </app-ticket>
                </li>
            </ul>
        </app-box>
    </div>
</template>

<script>
import NProgress from 'nprogress'
import AppTicket from '@/components/Ticket.vue'
import AppBox from '@/components/Box.vue'

export default {
  components: {
    AppTicket,
    AppBox
  },
  data () {
    return {
      ticket: null,
      ticketIdentifier: null
    }
  },
  created () {
    if (this.isDone) {
      NProgress.start()
      this.$http.get(`${this.$root.apiRoot}/negah/ticket/getByPaymentId/${this.paymentId}`)
        .then(result => {
          NProgress.done()
          let ticket = this.ticket = result.body
          if (ticket.placeNumber == -1) {
              alert('مشکلی در دریافت اطلاعات بلیت رخ داد، صفحه رفرش خواهد شد.')
              window.location.reload()
              return
          }
          let ticketIdentifier = `${ticket.studentId}${ticket.count.toString().padStart(3, '0')}${ticket.placeNumber.toString().padStart(4, '0')}`
          // برای تغییر ارقام به مبنای ۹ میبریم
          this.ticketIdentifier = (+ticketIdentifier).toString(9)
        },
        errorResult => {
          NProgress.done()
          console.error(errorResult)
        })
    }
  },
  computed: {
    isDone () {
      return this.$route.query.status === 'ok'
    },
    refId () {
      return this.$route.query.refid
    },
    paymentId() {
      return this.$route.query.id
    }
  },
  filters: {
      readable(value) {
          //debugger
          if (isFinite(value)) {
              value = String(value)
              let readable = ''
              for (let i = 0; i < value.length/4; i++) {
                  readable += value.slice(4*i, 4*i+4) + ' '
              }
              return readable
          } else {
              return value
          }
      }
  }
}
</script>

<style>
.receipt__description {
    text-align: center;
    padding: 0.3em 1em 0em;
}

.receipt__icon {
    font-size: 4em;
}

.receipt__success-message {
    font-size: 1.1em;
}

.receipt__ticket-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly;
    padding-bottom: 1.5em;

}

.receipt__ticket-item {
    margin: 2em 0.4em;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    page-break-inside: avoid;
}

.receipt__print-button {
    display: table;
    margin: 1em auto;
}

@media print {
    .header,
    .button,
    .receipt__icon {
        display: none;
    }

    .receipt__ticket-list {
        display: block;
        font-size: .8em;
    }

    .receipt__ticket-item {
        float: right;
        width: 50%;
        margin: 1em 0;
    }
}
</style>
