<template>
    <div class="big-input">
        <div class="big-input__input-wrapper">
            <input class="big-input__input" v-bind="$attrs" @input="inputHandler" @keypress.enter="$emit('button-click')" ref="input">
            <span v-if="isEmpty" class="big-input__placeholder">{{ placeHolder }}</span>
            <i class="big-input__icon icon" :class="'icon-' + icon"></i>
        </div>
        <div class="big-input__button-wrapper">
            <button class="button big-input__button ripple" @click="$emit('button-click')">{{ buttonText }}</button>
        </div>
    </div>
</template>

<script>
export default {
  name: 'BigInput',
  inheritAttrs: false,
  data () {
    return {
      isEmpty: true
    }
  },
  props: [
    'icon',
    'placeHolder',
    'buttonText'
  ],
  methods: {
    inputHandler (event) {
      this.isEmpty = (event.target.value === '')
    }
  },
  mounted () {
    this.$refs['input'].focus()
  }
}
</script>

<style lang="css">
.big-input {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    z-index: 1;
}

.big-input__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 80%;
}

.big-input__input {
    display: block;
    width: 410px;
    max-width: 100%;
    border-radius: 2em;
    border-width: 0;
    font-size: 1.2em;
    padding: 0.45em 2.2em 0.45em .7em;
    outline: none;
    transition: box-shadow .3s;
    box-shadow: 0 5px 6px -3px rgba(0,0,0,.2), 0 9px 12px 1px rgba(0,0,0,.14), 0 3px 16px 2px rgba(0,0,0,.12);
}

.big-input__input:focus {
    box-shadow: 0 10px 13px -6px rgba(0,0,0,.2), 0 20px 31px 3px rgba(0,0,0,.14), 0 8px 38px 7px rgba(0,0,0,.12);
}

.big-input__placeholder {
    position: absolute;
    right: 2.7em;
    color: #909090;
    pointer-events: none;
}

.big-input__icon {
    position: absolute;
    right: 0.35em;
    color: #3e3e3e;
}

.big-input__button {
    margin: 1em;
    font-size: 1.5em;
}

</style>
