<template>
    <div class="box">
        <div class="box__bar">
            <div class="box__label">
                {{ label }}
            </div>
            <div class="box__actions" v-if="actions && actions.length > 0">
                <button
                    class="box__action ripple"
                    v-for="action of actions"
                    :key="action.icon"
                    @click="action.action($event)"
                >
                    <i class="icon" :class="'icon-' + action.icon"></i>
                </button>
            </div>
        </div>
        <div class="box-content">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
  name: 'AppBox',
  props: ['label', 'actions']
}
</script>

<style>
.box {
    background-color: white;
    margin: 3.4em auto;
    padding: 1px;
    border-radius: .1em;
    position: relative;
    max-width: 1000px;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
}

@media screen and (min-width: 520px) {
    .box {
        width: 90%;
    }
}

.box__bar {
    margin-top: -1em;
    transform: translateY(1em) translateY(-50%);
    display: flex;
}

.box__label {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.59);
    display: table;
    font-size: 1.3em;
    margin-right: 1.1em;
    background-color: white;
    font-weight: bold;
    border-radius: 0.5em;
    padding: 0.4em 1em;
}

.box__actions {
    margin: 0 1em;
    background: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.59);
    border-radius: 0.5em;
    overflow: hidden;
    display: flex;
}

.box__action {
    height: auto;
    width: auto;
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    min-width: 2.8em;
}

.box__action:hover {
    background: #fce4ec;
}

@media print {
    .box {
        width: 100%;
        box-shadow: none;
    }
    .box__bar {
        justify-content: center;
    }
    .box__label {
        box-shadow: none;
        margin-right: 0;
        text-align: center;
        display: block;
    }
    .box__label::before {
        content: "«"
    }
    .box__label::after {
        content: "»"
    }
    .box__actions {
        display: none;
    }
}
</style>
