<template>
    <transition name="dialog" duration="1500">
        <div class="dialog" v-if="isOpen">
            <div class="dialog__back-drop" @click="$emit('click-outside')">
            </div>
            <div class="dialog__box" v-bind="$attrs">
                <slot></slot>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
  name: 'AppDialog',
  inheritAttrs: false,
  props: ['isOpen']
}
</script>

<style lang="css">
.dialog__back-drop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog__box {
    background: white;
    border-radius: .1em;
    width: 25em;
    max-width: 96%;
    z-index: 11;
    position: fixed;
    top: 27px;
    right: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 0 16px 6px rgba(0, 0, 0, 0.49);
}

.dialog-enter-active .dialog__back-drop,
.dialog-leave-active .dialog__back-drop {
    transition: .5s background-color;
}
.dialog-leave-active .dialog__back-drop {
    transition-delay: 1s;
}
.dialog-enter .dialog__back-drop,
.dialog-leave-to .dialog__back-drop {
    background-color: transparent;
}

.dialog-enter-active .dialog__box,
.dialog-leave-active .dialog__box {
    animation: flipInX 1s;
    backface-visibility: visible;
}

.dialog-enter-active .dialog__box {
    animation-fill-mode: backwards;
    animation-delay: .5s;
}

.dialog-leave-active .dialog__box {
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

</style>
