<template>
    <header class="header">
        <div class="row">
            <h1 class="title">
                <img class="logo" src="/negah.png" alt="logo">
                <div class="title__text">
                    <span class="title__main">نگاه</span>
                    <span class="title__subtitle">سامانه اکران فیلم</span>
                </div>
            </h1>
            <div class="header__user-profile" v-if="$root.token" @click="toggleUserProfileMenu">
                <span>مجتبی &nbsp;</span>
                <i class="header__user-profile-icon icon">account_circle</i>
                <transition
                    name="menu-open-animation"
                    enter-active-class="animated flipInX"
                    leave-active-class="animated flipOutX"
                >
                    <ul class="header__user-profile-menu" v-if="isUserProfileMenuOpen">
                        <li class="header__user-profile-menu-item" @click="$router.push('/profile')">
                            ویرایش مشخصات
                        </li>
                        <li class="header__user-profile-menu-item" @click="$root.role = 'user'" v-if="$root.isAdmin">
                            دیدن نمای کاربران
                        </li>
                        <li class="header__user-profile-menu-item" @click="$root.role = 'admin'" v-if="!$root.isAdmin">
                            دیدن نمای مدیر
                        </li>
                        <li class="header__user-profile-menu-item" @click="$router.push('/login')">
                            خروج از سیستم
                        </li>
                    </ul>
                </transition>
            </div>
        </div>
        <div class="row">
            <ul class="nav">
                <li class="nav__item">
                    <router-link exact-active-class="nav__link--active" class="nav__link" to="/">خرید بلیت</router-link>
                </li>
                <li class="nav__item" v-if="false">
                    <router-link active-class="nav__link--active" class="nav__link" to="/history">سابقه‌ی خرید</router-link>
                </li>
                <li class="nav__item" v-if="false">
                    <router-link active-class="nav__link--active" class="nav__link" to="/profile">پروفایل</router-link>
                </li>
                <li class="nav__item">
                    <router-link class="nav__link" to="login">خروج</router-link>
                </li>
            </ul>
        </div>
    </header>
</template>

<script>
export default {
  name: 'AppHeader',
  data () {
    return {
      isUserProfileMenuOpen: false
    }
  },
  methods: {
    toggleUserProfileMenu () {
      this.isUserProfileMenuOpen = !this.isUserProfileMenuOpen
    }
  }
}
</script>

<style lang="postcss">
.header {
    background: #ad1457;
    color: #f4e0e9;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.4);
}

.row {
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 1.9em;
    flex-grow: 1;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

}

@media (min-width: 750px) {
    .title {
        margin-right: 1em;
        justify-content: flex-start;
    }
    .title__main {
        margin-left: 0.3em;
    }
}

.logo {
    filter: invert(1);
    opacity: .87;
    width: 2.7em;
    margin-left: 0.5em;
}

.title__subtitle {
    display: block;
    font-size: 0.5em;
    white-space: nowrap;
}

@media (min-width: 750px) {
    .title__subtitle {
        display: inline-block;
        font-size: .6em;
    }
}

.title__subtitle:before {
    content: '(';
}

.title__subtitle:after {
    content: ')'
}

.header__user-profile {
    display: none;
    position: relative;
    margin: 1em 2em;
    align-self: flex-start;
    cursor: pointer;
}

@media (min-width: 750px) {
    .header__user-profile {
        display: flex;
    }
}

.nav {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    flex-grow: 1;
}

.nav__item {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

@media (min-width: 750px) {
    .nav__item {
        flex-grow: 0;
    }
}

.nav__link {
    color: inherit;
    transition: border-color .3s;
    text-decoration: none;
    padding: 0.7em 2px 0.5em;
    display: block;
    border-bottom: 3px solid transparent;
}

@media (min-width: 750px) {
    .nav__link {
        padding: 0.7em 1em 0.5em;
    }
}

.nav__link:hover {
    border-bottom-color: #42a5f5;
}

.nav__link--active {
    border-bottom-color: #90caf9;
    pointer-events: none;
}

.header__user-profile {
    user-select: none;
}

.header__user-profile-menu {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 100%;
    background-color: white;
    color: black;
    border-radius: 2px;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
    margin: 0.5em 0 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
}

.header__user-profile-menu-item {
    padding: 0.4em 1em;
    font-size: .95em;
    cursor: pointer;
    border-top: 1px solid #ababab;
}

.header__user-profile-menu-item:hover {
    background: #e0e0e0;
}

.header__user-profile-menu-item:first-child {
    border-top: none;
}
</style>
