<template>
    <div class="no-item">
        <i v-if="icon" class="icon no-item__icon" :class="'icon-' + icon"></i>
        <img v-else class="no-item__image" src="negah.png" alt="">
        <span class="no-item__text">
            {{text}}
            <slot />
        </span>
    </div>
</template>

<script>
export default {
  name: 'NoItem',
  props: ['icon', 'text']
}
</script>

<style>
.no-item {
    text-align: center;
    color: white;
    background: radial-gradient(white, transparent, transparent) no-repeat;
    background-size: 18em;
    background-position: center;
}

.no-item__image {
    display: block;
    margin: 3em auto 1em;
}

.no-item__icon {
    display: table;
    font-size: 9em;
    margin: .3em auto .12em;
}

.no-item__text {
    font-size: 1.4em;
    text-shadow: 1px 1px 10px black;
}

@supports (filter: invert(1)) {
    .no-item {
        background: none;
    }
    .no-item__image {
        filter: invert(1) drop-shadow(1px 1px 3px black);
    }
}

</style>
