<template>
    <div class="object-card" :class="'object-card--' + mode">
        <div class="object-card__header" v-if="$root.isAdmin">
            <button class="object__action" @click="$emit('delete')">
                <i class="icon icon-delete"></i>
            </button>
            <button class="object__action" @click="setMode('edit')" v-if="mode === 'view'">
                <i class="icon icon-mode_edit"></i>
            </button>
            <button class="object__action" @click="setMode('view')" v-if="mode === 'edit'">
                <i class="icon icon-save"></i>
            </button>
        </div>
        <div class="object-card__body">
            <div class="object-card__logo">
                <img class="object-card__logo-image" :src="scene.film.poster" alt="">
                <label class="icon icon-cloud_upload object-card__upload-image" v-if="mode === 'edit'">
                    <input type="file" hidden accept="image/*" capture="environment"
                        onchange="this.parentElement.previousElementSibling.src = window.URL.createObjectURL(this.files[0])"
                    />
                </label>
            </div>
            <div class="object-card__description">
                <h3 class="object-card__title" v-editable data-edit="title">{{scene.film.title}}</h3>
                <p class="object-card__object-description">
                    کارگردان: <span data-edit="director">{{scene.film.meta.director}}</span> <br>
                    مدّت فیلم: <span data-edit="$duration">{{scene.film.meta.duration}}</span> دقیقه
                </p>
                <p class="object-card__scene-description">
                    زمان پخش: <span data-edit="date">{{scene.meta.weekday}} {{scene.meta.day}}، ساعت {{scene.meta.time}}</span> <br>
                    مکان پخش: <span data-edit="location">{{scene.hall.title}}</span>
                </p>
                <p class="object-card__edit-extra" v-if="$root.isAdmin">
                    ظرفیت باقی‌مانده: <span data-edit="capacity">{{scene.hall.capacity - scene.ticketCount}}</span> بلیت
                </p>
            </div>
            <div class="object-card__action" @click="mode === 'view' && $emit('card-action')">
                <div class="object-card__action-title">خرید بلیت</div>
                <div class="object-card__action-subtitle">(<span data-edit="$price">{{scene.price}}</span> تومان)</div>
            </div>
        </div>
    </div>
</template>

<script>
// import Vue from 'vue'

export default {
  name: 'ObjectCard',
  props: ['scene'],
  data: () => ({
    mode: 'view' // 'view', 'edit'
  }),
  methods: {
    setMode (mode) {
      this.mode = mode
      let elements = this.$el.querySelectorAll('[data-edit]')
      if (mode === 'edit') {
        for (let i = 0; i < elements.length; i++) {
          elements[i].contentEditable = true
        }
      } else if (mode === 'view') {
        for (let i = 0; i < elements.length; i++) {
          elements[i].contentEditable = false
        }
      }
    }
  }
}
</script>

<style>
.object-card {
    margin: 1em;
    background: white;
    border-radius: 0.2em;
    overflow: hidden;
    max-width: 370px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1025px) {
    .object-card {
        margin: 1em auto;
    }
}

.object-card__header {
    border-bottom: 1px solid #2196f3;
    background-color: #ad1457;
    display: flex;
    flex-direction: row-reverse;
}

.object-card__body {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
}

.object-card__logo {
    height: 14em;
    position: relative;
    display: flex;
    flex-direction: column;
}

.object-card__logo-image {
	width: 19em;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
	max-height: 14em;
	margin: auto;
	max-width: 100%;
}

.object-card__upload-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
    background-color: rgba(0,0,0,.3);
    transition: opacity .3s;
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
    opacity: .7;
}

.object-card__upload-image:hover {
    opacity: 1;
}

.object-card__description {
    margin: 1em;
    flex-grow: 1;
}

.object-card__title {
    margin: 0;
    font-size: 1.7em;
}

.object-card__action {
    margin: 0 9% 1em;
    text-align: center;
    background: #2196F3;
    color: #e2f1fe;
    border-radius: 0.2em;
    padding: 0.4em 1.1em;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow .3s;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}

.object-card__action:hover {
    box-shadow: 0 5px 6px -3px rgba(0,0,0,.2), 0 9px 12px 1px rgba(0,0,0,.14), 0 3px 16px 2px rgba(0,0,0,.12);
}

.object-card__action-title {
    font-size: 1.3em;
    font-weight: bold;
}

.object-card__action-subtitle {
    font-size: .9em;
}

.object-card--edit [contenteditable] {
    border-bottom: 1px solid #8c8c8c;
    min-width: 2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
    background: rgba(218, 218, 218, 0.38);
    cursor: text;
    padding: 0.15em 0.4em;
    margin: 0.1em 0;
}

.object__action {
    margin: .5em;
    cursor: pointer;
    background: transparent;
    border: none;
    color: white;
    opacity: .87;
    outline: none;
}

.object__action:hover {
    opacity: 1;
}

@media (min-width: 800px) {
    .object-card {
        max-width: 1000px;
    }

    .object-card__body {
        flex-direction: row;
    }

    .object-card__action {
        margin: 0;
        font-size: 1.6em;
        border-radius: 0;
    }

    @supports (clip-path: polygon(0 0, 0 0, 0 0)) {
        .object-card__action {
            transition: clip-path .3s;
            clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%);
            padding-right: 2.6em;
        }

        .object-card--view .object-card__action:hover {
            clip-path: polygon(0% 0%, 85% 0%, 85% 100%, 0% 100%);
            opacity: .9;
        }
    }

    .object-card__logo {
        height: auto;
    }
}

</style>
