<template>
    <div class="ticket">
        <div class="ticket__right">
            <div class="ticket__qr-box">
                <slot name="qr"></slot>
            </div>
            <div class="ticket__date-box">
                {{ticket.scene.meta.weekday}} <br> {{ticket.scene.meta.day}}
            </div>
        </div>
        <div class="ticket__left">
            <div class="ticket__description">
                <h3 class="ticket__object-title">{{ticket.scene.film.title}}</h3>
                <table class="ticket__table">
                    <tr>
                        <td><i class="icon icon-room"></i></td>
                        <td>{{ticket.scene.hall.title}}</td>
                    </tr>
                    <tr>
                        <td><i class="icon icon-schedule"></i></td>
                        <td>{{ticket.scene.meta.time}}</td>
                    </tr>
                </table>
            </div>
            <div class="ticket__footer" dir="ltr" v-html="footerText"></div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'app-ticket',
  props: ['footerText', 'ticket']
}
</script>

<style lang="css">

.ticket {
    background: white;
    max-width: 420px;
    width: 90%;
    display: flex;
    border: 1px solid #989898;
    min-height: 13em;
}

.ticket__object-title {
    font-size: 1.6em;
    margin: 0.6em 0 0.5em;
}

.ticket__table {
    font-size: 1em;
}

.ticket__footer {
	text-align: center;
	font-size: 1.4em;
	border-top: 1px dashed #757575;
	padding: .4em 0;
}

.ticket__qr-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px dashed #757575;
    padding: 0 1em;
    flex-direction: column;
    flex: 1 1 0;
}

.ticket__date-box {
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    line-height: 1.4;
    padding: 0 1em;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ticket__description {
    padding: 0 1em 0.6em;
    flex-grow: 1;
}

.ticket__right {
    border-left: 1px dashed #757575;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 8em;
}

.ticket__left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.ticket__left:before,
.ticket__left:after,
.ticket__right:before,
.ticket__right:after {
    content: ' ';
    background: white;
    height: 1em;
    width: 1em;
    position: absolute;
    border: 1px solid #989898;
}

.ticket__left:before {
    top: -1px; right: 0;
    border-radius: 0 0 0 1em;
    border-top: none;
    border-right: none;
}

.ticket__left:after {
    bottom: -1px; right: 0;
    border-radius: 1em 0 0 0;
    border-bottom: none;
    border-right: none;
}

.ticket__right:before {
    top: -1px; left: -1px;
    border-radius: 0 0 1em 0;
    border-top: none;
    border-left: none;
}

.ticket__right:after {
    bottom: -1px; left: -1px;
    border-radius: 0 1em 0 0;
    border-bottom: none;
    border-left: none;
}
</style>
