<template>
  <div id="app">
    <app-header></app-header>
    <transition name="router" mode="out-in" enter-active-class="animated faster fadeIn" leave-active-class="animated faster fadeOut">
      <router-view/>
    </transition>
  </div>
</template>

<script>
import AppHeader from '@/components/Header.vue'

export default {
  components: {
    AppHeader
  },
  created () {
    if (!this.$root.studentId) {
      // this.$router.go('')
    }

    // ripple
    let rippleElement = document.createElement('div')
    rippleElement.className = 'ripple-element'
    document.addEventListener('mousedown', function ripple (event) {
      requestAnimationFrame(() => {
        let el
        if (event.target.matches('.ripple')) {
          el = event.target
        } else {
          el = event.target.closest('.ripple')
        }
        if (el == null) return

        let x = event.clientX - el.getBoundingClientRect().left + 'px'
        let y = event.clientY - el.getBoundingClientRect().top + 'px'
        rippleElement.style.left = x
        rippleElement.style.top = y

        el.appendChild(rippleElement)
      })
    })
  }
}
</script>

<style src="./global.css">
