
/* $primary: rgb(233,30,99);
$color-on-primary: #fce1eb; */

@import "../node_modules/nprogress/nprogress.css";

html {
    box-sizing: border-box;
    --primary: rgb(233,30,99);
    --color-on-primary: #fce1eb;
}

body {
    margin: 0;
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    overflow-y: scroll;
    font-family: Vazir;
}

*, *:before, *:after {
    box-sizing: inherit;
}

button,
input,
textarea {
  font: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.icon {
    vertical-align: middle;
    font-size: 1.8em;
    display: inline-block;
}

.button {
    background-color: #2196F3;
    border: none;
    color: #e2f1fe;
    font-size: 1.5em;
    border-radius: 0.2em;
    padding: 0.1em 1em;
    cursor: pointer;
    outline: none;
    transition: box-shadow .3s;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.button--primary {
  background-color: #E91E63;
  color: #fce1eb;
}

.button:hover {
    box-shadow: 0 5px 6px -3px rgba(0,0,0,.2), 0 9px 12px 1px rgba(0,0,0,.14), 0 3px 16px 2px rgba(0,0,0,.12);
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple-element {
  position: absolute;
  background-color: black;
  width: 150px;
  height: 150px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  animation: ripple .4s;
}

@keyframes ripple {
  from {
    transform: translate3d(-50%, -50%, 0) scale(0);
    opacity: .4;
  }
  to {
    transform: translate3d(-50%, -50%, 0) scale(1);
    opacity: 0;
  }
}

.main-fab {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: none;
  background-color: #2196f3;
  color: #eaf5fd;
  cursor: pointer;
  margin: 1.7em;
  outline: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

@media print {
  .no-print {
    display: none;
  }
}

/* animate css */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.fast {
  animation-duration: 800ms;
}

.animated.faster {
  animation-duration: 500ms;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}

.flipOutX {
  backface-visibility: visible !important;
  animation-name: flipInX;
  animation-direction: reverse;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

/* end animate css */

/* ROUTER */

/* ROUTER END */

/* fonts */
@font-face {
    font-family: Vazir;
    src: url('assets/fonts/Vazir-FD-WOL.eot');
    src: url('assets/fonts/Vazir-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Vazir-FD-WOL.woff2') format('woff2'),
         url('assets/fonts/Vazir-FD-WOL.woff') format('woff'),
         url('assets/fonts/Vazir-FD-WOL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('assets/fonts/Vazir-Bold-FD-WOL.eot');
    src: url('assets/fonts/Vazir-Bold-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Vazir-Bold-FD-WOL.woff2') format('woff2'),
         url('assets/fonts/Vazir-Bold-FD-WOL.woff') format('woff'),
         url('assets/fonts/Vazir-Bold-FD-WOL.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('assets/fonts/Vazir-Black-FD-WOL.eot');
    src: url('assets/fonts/Vazir-Black-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Vazir-Black-FD-WOL.woff2') format('woff2'),
         url('assets/fonts/Vazir-Black-FD-WOL.woff') format('woff'),
         url('assets/fonts/Vazir-Black-FD-WOL.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('assets/fonts/Vazir-Medium-FD-WOL.eot');
    src: url('assets/fonts/Vazir-Medium-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Vazir-Medium-FD-WOL.woff2') format('woff2'),
         url('assets/fonts/Vazir-Medium-FD-WOL.woff') format('woff'),
         url('assets/fonts/Vazir-Medium-FD-WOL.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('assets/fonts/Vazir-Light-FD-WOL.eot');
    src: url('assets/fonts/Vazir-Light-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Vazir-Light-FD-WOL.woff2') format('woff2'),
         url('assets/fonts/Vazir-Light-FD-WOL.woff') format('woff'),
         url('assets/fonts/Vazir-Light-FD-WOL.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('assets/fonts/Vazir-Thin-FD-WOL.eot');
    src: url('assets/fonts/Vazir-Thin-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Vazir-Thin-FD-WOL.woff2') format('woff2'),
         url('assets/fonts/Vazir-Thin-FD-WOL.woff') format('woff'),
         url('assets/fonts/Vazir-Thin-FD-WOL.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:
    url('assets/fonts/icomoon.ttf?2x4pia') format('truetype'),
    url('assets/fonts/icomoon.woff?2x4pia') format('woff'),
    url('assets/fonts/icomoon.svg?2x4pia#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-schedule:before {
  content: "\e8b5";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-cloud_upload:before {
  content: "\e2c3";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-delete:before {
  content: "\e872";
}
.icon-print:before {
  content: "\e8ad";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-phone_android:before {
  content: "\e324";
}
.icon-save:before {
  content: "\e161";
}
/* end fonts */